* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Lato;
  padding: 10px 5px;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.left {
  margin: 10px 0;
  color: blue;
  /* background-color: lightyellow; */
  animation: slide-from-left 2s ease-in;
}

.right {
  margin: 10px 0;
  color: red;
  animation: slide-from-right 2s ease-in;
}

.fade-out {
  margin: 10px 0;
  color: yellow;
  animation: fade-out 2s ease-in;
}

/* animation keyframes */
@keyframes slide-from-left {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  75% {
    opacity: 0.3;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    margin-right: -100%;
    opacity: 0;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
